[submodule "External/Roxas"]
	path = External/Roxas
	url = https://github.com/rileytestut/Roxas.git
[submodule "External/CwlPreconditionTesting"]
	path = External/CwlPreconditionTesting
	url = https://github.com/rileytestut/CwlPreconditionTesting.git
[submodule "Backends/Drive"]
	path = Backends/Drive
	url = https://github.com/rileytestut/Harmony-Drive.git
